<template name="ListView">
  
  <div class="list-view">
    <div class="form-group">
      <input type="text" class="search-box form-control" placeholder="Search">
    </div>

      <table class={{tableClass}}>

        <thead>
          <tr>
            {{#each fields}}
              <th>{{getFieldLable this}}</th>
            {{/each}}
          </tr>
        </thead>

        <tbody>

          {{#each objects}}
            <tr class={{rowClass}}>
                {{#each fields}}
                  <td class={{fieldClass .. this}}>{{field .. this}}</td>
                {{/each}}
            </tr>
          {{/each}}
        </tbody>

      </table>
   
    {{#if Template.subscriptionsReady}}
      {{#if hasMoreObjects}}
        <a class="load-more" href="#">Load More</a>
      {{/if}}
    {{else}}
      <div class="loading">{{>spinner}}</div>
    {{/if}}

  </div>
  
</template>
